[submodule "contracts/yieldbox"]
	path = contracts/yieldbox
	url = https://github.com/boringcrypto/YieldBox.git
[submodule "tapioca-periph"]
	path = tapioca-periph
	url = https://github.com/Tapioca-DAO/tapioca-periph.git
